<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
    </head>
    <body>
        <main>
            {{ include('app/_header.html.twig') }}
            {% block body %}{% endblock %}
            {{ include('app/_footer.html.twig') }}
        </main>
    </body>
</html>
